{% load i18n %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar"
    aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar">
    <input type="search" id="nav-filter" placeholder="{% translate 'Start typing to filter…' %}"
        aria-label="{% translate 'Filter navigation items' %}">
    {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
    <style>
        .btn {
            border: 3px solid #417690;
            background-color: #264b5d;
            border-radius: 2px;
            margin-top: 10px;
            width: 100px;
            color: white;
        };
    </style>
    <div class="parser_working">
        <h1>Работа Парсера</h1>
        <form action='/power_button'>
            <button id="power" class="btn"> Включение </button>
            <script>
                if (document.getElementById('power').onclick = function () {
                        alert('Включение парсера');
                    });
            </script>
        </form>
        <form action='/restart_button'>
            <button id="restart" class="btn"> Перезапуск </button>
            <script>
                if (document.getElementById('restart').onclick = function () {
                        alert('Перезагрузка парсера');
                    });
            </script>
        </form>
        <form action='/shutdown_button'>
            <button id="shutdown" class="btn"> Выключение </button>
            <script>
                if (document.getElementById('shutdown').onclick = function () {
                        alert('Выключение парсера');
                    });
            </script>
        </form>
        <form action='/export_button'>
            <button id="export" class="btn"> Перенести информацию </button>
            <script>
                if (document.getElementById('export').onclick = function () {
                        alert('Перенести в основную базу');
                    });
            </script>
        </form>
    </div>

</nav>